<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Photoshare</h1>
    <p><%= @user.name %>さんは、新しい写真を投稿しました。</p>
    <p>投稿した写真は、いつでも編集、削除することが可能です。</p>
   
    <strong>surported by Photoshare</strong>
  </body>
</html>

