<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、メールアドレス:<%= @user.name %>   Photoshare companyへようこそ。</h1>
      <p>
       Photoshareへのサインアップが成功しました。
       早速、お気に入りの写真をアップしてしてみましょう!!
      <br>
    </p>
   
    <p>actionmailer  test  success</p>
  </body>
</html>