<% provide(:title, "")%>
<div class="posts-wrapper">
  <ul class="post-list">
   <%= link_to '新規投稿', new_post_path ,class:"picture-button" %></li>
    <% @posts.each do |post| %>
     <li class="post-list-item">
       <a href=<%= post_path(post.id)%>>
        <%= image_tag post.image.url if post.image && post.image.url %>
        </a>
    </li>
    <% end %>
  </ul>
</div>
  

