// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-wrapper {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding-bottom: 10px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(205, 207, 207);
  }
  .post-header {
    height: 42px;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 0 10px;
  }
  .post-header li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 42px;
    margin: 0;
    padding: 0;
  }
  .post-image-box {
    width: 100%;
    background-color: #fff;
  }
  .post-image-box img{
    display: block;
   
  }
    //show用
    .show-post-wrapper {
      
    display: block;
    }
    .show-wrapper{
   

    }
 
   
    .show-post-header {
      display: block;
      border-bottom :1px solid #e6ecf0;
      margin-bottom: 3px;
      padding: 10px 15px;
      border:1px solid gray;
      background-color: rgb(220, 236, 231);
     
    }
    .show-main{
      display: flex;
  }
    .item-header{
      background-color: rgb(220, 236, 231);
      height: 80px;
      display: inline-block;
      font-size: small;
      width: 50%;
    }
   .show-post-content{
     display: flex;
     
     background-color:white;
     margin-top: 10px;
   }
    .show-post-footer{
 
    height: 30px;
    border-top: 1px solid rgb(239,239,239);
    padding: 0 16px;
    background-color: rgb(252, 253, 253);
  }
    
    .favorite-wrapper {
      display: block;
      margin-top: 4px;
      padding: 6px 0 8px;
    }
    .favorites-count {
      padding: 6px 0 8px;
    }
   

    .item_edit-button{
      background-color: rgb(238, 232, 232);
      margin-left: 10px;
      display: flex;
     }
  
    .btn-original{
    
    background-color: #f0f7f6;
    color: rgb(15, 2, 2);
    user-select: none;
    cursor: pointer;

    }
    .post-list{
      display: flex;
    }
    .post-list-item{
      list-style: none;
      margin-left: 20px;
       
    }
   